html{
    font-size: 12px;
}

select{
    max-width: 500px;
}

.margin-tiny{
    margin: 2.5%;
}

.inline{
    display: inline-block !important;
}

.footer{
    background-color: #eee;
    font-size: 16px;
    padding: 1% 2.5% 1% 2.5%;
}
