<!DOCTYPE html>
<html>
  <head>
    <title> An error has occured! </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ url_for('static', filename='GAS.css') }}>
    <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }} type="image/x-icon">
    <link rel="icon" href={{ url_for('static', filename='favicon.ico') }} type="image/x-icon">
    <script src={{ url_for('static', filename='GAS.js') }}></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h1> An error has occured! </h1>
    </div>

    <p>
      {% for line in error_message %}
      {{line}}<br>
      {% endfor %}
    </p>
    <button class="btn" type="button" onclick="goBack()">Click here to go back</button>

    <div class="footer">
      Source code for this audit system can be found <a href="https://gitlab.com/saikiran1096/gradaudit">here.</a>
      <br>
      Source code for this website can be found <a href="https://gitlab.com/asobhi/GAS-site">here.</a>
      <br>
      Please email any bugs or feature requests to <a href="mailto:ars140330@utdallas.edu">ars140330@utdallas.edu</a> or <a href="mailto:sai@utdallas.edu">sai@utdallas.edu.</a>
    </div>
  </body>
</html>
