{% from 'macros.html' import course_list %}
<!DOCTYPE html>
<html>
  <head>
    <title> Graduation Audit System </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ url_for('static', filename='GAS.css') }}>
    <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }} type="image/x-icon">
    <link rel="icon" href={{ url_for('static', filename='favicon.ico') }} type="image/x-icon">
    <script src={{ url_for('static', filename='GAS.js') }}></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="jumbotron text-center">
      <h1> Graduation Audit System </h1>
      <p>
	An automated degree audit system for various degree plans at The University of Texas at Dallas
      </p>
    </div>

    <div class="alert alert-warning margin-tiny">
      <strong>Warning!</strong> This is an experimental software prototype system and the results are only advisory. For an official degree audit you should visit with your UT Dallas undergraduate advisor.
    </div>

    <div class="alert alert-info margin-tiny">
      An audit can take up to a minute depending on your major selection and how close you are to graduating.
    </div>
    
    <ul class="nav nav-pills margin-tiny">
      <li class="active"><a data-toggle="tab" href="#manual">Manual</a></li>
      <li><a data-toggle="tab" href="#upload">Upload Your Transcript</a></li>
    </ul>

    <div class="tab-content">
      <div id="manual" class="tab-pane fade margin-tiny active in">
	<form action={{ url_for('submit') }} method="post">

	  <div class="row">
	    <div class="form-group col-xs-4 col-sm-6">
	      <label>Degree Type</label>
	      <br>
	      <input type="radio" name="degree_type" value="bs" checked=true/>BS
	      <input type="radio" name="degree_type" value="ba" disabled=true/> BA
	    </div>
	    <div class="form-group col-xs-8 col-sm-6">
	      <label for="major">Major</label>
	      <br>
	      <select class="form-control" name="major" onchange="degreeSelectHandler(this)" id="major" required>
		<option selected="selected" value="">Please Select Your Major</option>
		<option value="cs">Computer Science</option>
		<option value="math">Mathematics</option>
		<option value="me">Mechanical Engineering</option>
		<option value="se">Software Engineering</option>
	      </select>
	    </div>
	  </div>

	  <div class="row">
	    <div class="form-group col-xs-6">
	      <label for="year">Year of Degree Plan</label>
	      <br>
	      <select class="form-control" name="year" id="year">
		<option value="2014">2014</option>
		<option value="2015">2015</option>
	      </select>
	    </div>
	    
	    <div class="form-group col-xs-6">
	      <label for="specialization">Specialization</label>
	      <br>
	      <select class="form-control" name="specialization" id="specialization">
		<option selected="selected" value="none">None</option>
	      </select>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="form-group col-xs-6">
	      <label for="classes">Type in a class number (ex: cs1336). Then, click the  "Add Class" button.</label>
	      <br>
	      <input list="classes-datalist" type="text" name="class" id="class" >
	      {{ course_list() }}
	      <button type="button" class="btn" onclick="addClass()">Add class</button>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="form-group col-xs-12">
	      <label for="classes">Classes Taken</label><br>
	      <textarea name="classes" id="classes" class="form-control">{{classes}}</textarea>	
	    </div>
	  </div>
	  
	  <button type="button" class="btn" onclick="fillOutExample()">Fill out Example</button>
	  <input type="submit" class="btn btn-primary" value="Perform Audit"></input>

	</form>
      </div>

      <div id="upload" class="tab-pane fade margin-tiny">
	<form action={{ url_for('input_form') }} method="post" enctype="multipart/form-data">
	  <div class="form-group">
	      <label for="transcriptPDF">Upload an unofficial transcript from Galaxy.</label>
	      <br>
	      <input class="inline" name="transcriptPDF" type="file" accept="application/pdf">
	      <input class="inline btn btn-primary" type="submit" value="Submit">
	  </div>
	</form>
      </div>      
    </div>

    <div class="footer">
      Source code for this audit system can be found <a href="https://gitlab.com/saikiran1096/gradaudit">here.</a>
      <br>
      Source code for this website can be found <a href="https://gitlab.com/asobhi/GAS-site">here.</a>
      <br>
      Please email any bugs or feature requests to <a href="mailto:ars140330@utdallas.edu">ars140330@utdallas.edu</a> or <a href="mailto:sai@utdallas.edu">sai@utdallas.edu.</a>
    </div>    
  </body>  
</html>
