{% macro course_list() %}
         <datalist id="classes-datalist">	
		<option value="acct2301"></option>
		<option value="acct2302"></option>
		<option value="acct3100"></option>
		<option value="acct3320"></option>
		<option value="acct3322"></option>
		<option value="acct3331"></option>
		<option value="acct3332"></option>
		<option value="acct3341"></option>
		<option value="acct3350"></option>
		<option value="acct4080"></option>
		<option value="acct4090"></option>
		<option value="acct4199"></option>
		<option value="acct4299"></option>
		<option value="acct4300"></option>
		<option value="acct4301"></option>
		<option value="acct4334"></option>
		<option value="acct4336"></option>
		<option value="acct4337"></option>
		<option value="acct4340"></option>
		<option value="acct4342"></option>
		<option value="acct4365"></option>
		<option value="acct4380"></option>
		<option value="acct4389"></option>
		<option value="acct4V00"></option>
		<option value="acct4V80"></option>
		<option value="acts4301"></option>
		<option value="acts4302"></option>
		<option value="acts4304"></option>
		<option value="acts4306"></option>
		<option value="acts4308"></option>
		<option value="ahst1303"></option>
		<option value="ahst1304"></option>
		<option value="ahst2331"></option>
		<option value="ahst2V71"></option>
		<option value="ahst3313"></option>
		<option value="ahst3315"></option>
		<option value="ahst3316"></option>
		<option value="ahst3317"></option>
		<option value="ahst3318"></option>
		<option value="ahst3319"></option>
		<option value="ahst3320"></option>
		<option value="ahst3321"></option>
		<option value="ahst3322"></option>
		<option value="ahst3324"></option>
		<option value="ahst4342"></option>
		<option value="ahst4V71"></option>
		<option value="ams2300"> </option>
		<option value="ams2311"> </option>
		<option value="ams2312"> </option>
		<option value="ams2341"> </option>
		<option value="ams2390"> </option>
		<option value="ams3300"> </option>
		<option value="ams3302"> </option>
		<option value="ams3313"> </option>
		<option value="ams3314"> </option>
		<option value="ams3316"> </option>
		<option value="ams3321"> </option>
		<option value="ams3322"> </option>
		<option value="ams3326"> </option>
		<option value="ams3350"> </option>
		<option value="ams3374"> </option>
		<option value="ams4300"> </option>
		<option value="ams4304"> </option>
		<option value="ams4305"> </option>
		<option value="ams4326"> </option>
		<option value="ams4327"> </option>
		<option value="ams4360"> </option>
		<option value="ams4379"> </option>
		<option value="ams4381"> </option>
		<option value="ams4385"> </option>
		<option value="ams4V80"> </option>
		<option value="ap2V71">  </option>
		<option value="ap3300">  </option>
		<option value="ap3340">  </option>
		<option value="ap4V71">  </option>
		<option value="ap4V99">  </option>
		<option value="arab1311"></option>
		<option value="arab1312"></option>
		<option value="arab2311"></option>
		<option value="arab2312"></option>
		<option value="arhm1100"></option>
		<option value="arhm2340"></option>
		<option value="arhm2341"></option>
		<option value="arhm2342"></option>
		<option value="arhm2343"></option>
		<option value="arhm2344"></option>
		<option value="arhm2V71"></option>
		<option value="arhm3100"></option>
		<option value="arhm3342"></option>
		<option value="arhm4V71"></option>
		<option value="arts1301"></option>
		<option value="arts1303"></option>
		<option value="arts1304"></option>
		<option value="arts1311"></option>
		<option value="arts1312"></option>
		<option value="arts1316"></option>
		<option value="arts2315"></option>
		<option value="arts2316"></option>
		<option value="arts2350"></option>
		<option value="arts2380"></option>
		<option value="arts2381"></option>
		<option value="arts2382"></option>
		<option value="arts2V71"></option>
		<option value="arts3311"></option>
		<option value="arts3340"></option>
		<option value="arts3341"></option>
		<option value="arts3363"></option>
		<option value="arts3365"></option>
		<option value="arts3366"></option>
		<option value="arts3367"></option>
		<option value="arts3368"></option>
		<option value="arts3369"></option>
		<option value="arts3371"></option>
		<option value="arts3372"></option>
		<option value="arts3373"></option>
		<option value="arts3375"></option>
		<option value="arts3376"></option>
		<option value="arts3377"></option>
		<option value="arts3378"></option>
		<option value="arts3379"></option>
		<option value="arts3381"></option>
		<option value="arts3382"></option>
		<option value="arts4308"></option>
		<option value="arts4310"></option>
		<option value="arts4366"></option>
		<option value="arts4368"></option>
		<option value="arts4369"></option>
		<option value="arts4372"></option>
		<option value="arts4V71"></option>
		<option value="atec2320"></option>
		<option value="atec2321"></option>
		<option value="atec2322"></option>
		<option value="atec2324"></option>
		<option value="atec2325"></option>
		<option value="atec2326"></option>
		<option value="atec2331"></option>
		<option value="atec2382"></option>
		<option value="atec2384"></option>
		<option value="atec2385"></option>
		<option value="atec3310"></option>
		<option value="atec3312"></option>
		<option value="atec3315"></option>
		<option value="atec3317"></option>
		<option value="atec3318"></option>
		<option value="atec3319"></option>
		<option value="atec3320"></option>
		<option value="atec3324"></option>
		<option value="atec3325"></option>
		<option value="atec3326"></option>
		<option value="atec3327"></option>
		<option value="atec3328"></option>
		<option value="atec3330"></option>
		<option value="atec3331"></option>
		<option value="atec3332"></option>
		<option value="atec3334"></option>
		<option value="atec3335"></option>
		<option value="atec3336"></option>
		<option value="atec3338"></option>
		<option value="atec3339"></option>
		<option value="atec3351"></option>
		<option value="atec3352"></option>
		<option value="atec3353"></option>
		<option value="atec3354"></option>
		<option value="atec3355"></option>
		<option value="atec3356"></option>
		<option value="atec3361"></option>
		<option value="atec3363"></option>
		<option value="atec3364"></option>
		<option value="atec3365"></option>
		<option value="atec4310"></option>
		<option value="atec4312"></option>
		<option value="atec4322"></option>
		<option value="atec4324"></option>
		<option value="atec4325"></option>
		<option value="atec4326"></option>
		<option value="atec4328"></option>
		<option value="atec4329"></option>
		<option value="atec4330"></option>
		<option value="atec4336"></option>
		<option value="atec4337"></option>
		<option value="atec4339"></option>
		<option value="atec4340"></option>
		<option value="atec4341"></option>
		<option value="atec4345"></option>
		<option value="atec4346"></option>
		<option value="atec4347"></option>
		<option value="atec4348"></option>
		<option value="atec4349"></option>
		<option value="atec4350"></option>
		<option value="atec4351"></option>
		<option value="atec4352"></option>
		<option value="atec4353"></option>
		<option value="atec4356"></option>
		<option value="atec4357"></option>
		<option value="atec4361"></option>
		<option value="atec4365"></option>
		<option value="atec4367"></option>
		<option value="atec4368"></option>
		<option value="atec4370"></option>
		<option value="atec4371"></option>
		<option value="atec4373"></option>
		<option value="atec4374"></option>
		<option value="atec4375"></option>
		<option value="atec4380"></option>
		<option value="atec4399"></option>
		<option value="atec4V71"></option>
		<option value="atec4V99"></option>
		<option value="atem1100"></option>
		<option value="ba1100">  </option>
		<option value="ba3100">  </option>
		<option value="ba4010">  </option>
		<option value="ba4090">  </option>
		<option value="ba4101">  </option>
		<option value="ba4199">  </option>
		<option value="ba4299">  </option>
		<option value="ba4V00">  </option>
		<option value="ba4V10">  </option>
		<option value="ba4V90">  </option>
		<option value="bcom2101"></option>
		<option value="bcom3100"></option>
		<option value="bcom3310"></option>
		<option value="bcom3311"></option>
		<option value="bcom3320"></option>
		<option value="bcom3321"></option>
		<option value="bcom3322"></option>
		<option value="bcom3323"></option>
		<option value="bcom4310"></option>
		<option value="bcom4350"></option>
		<option value="biol1300"></option>
		<option value="biol1306"></option>
		<option value="biol1307"></option>
		<option value="biol1310"></option>
		<option value="biol1318"></option>
		<option value="biol1320"></option>
		<option value="biol1V00"></option>
		<option value="biol1V01"></option>
		<option value="biol1V95"></option>
		<option value="biol2111"></option>
		<option value="biol2112"></option>
		<option value="biol2281"></option>
		<option value="biol2311"></option>
		<option value="biol2312"></option>
		<option value="biol2316"></option>
		<option value="biol2320"></option>
		<option value="biol2350"></option>
		<option value="biol2V00"></option>
		<option value="biol2V01"></option>
		<option value="biol2V95"></option>
		<option value="biol3101"></option>
		<option value="biol3102"></option>
		<option value="biol3110"></option>
		<option value="biol3161"></option>
		<option value="biol3162"></option>
		<option value="biol3301"></option>
		<option value="biol3302"></option>
		<option value="biol3305"></option>
		<option value="biol3310"></option>
		<option value="biol3318"></option>
		<option value="biol3321"></option>
		<option value="biol3335"></option>
		<option value="biol3336"></option>
		<option value="biol3350"></option>
		<option value="biol3351"></option>
		<option value="biol3355"></option>
		<option value="biol3361"></option>
		<option value="biol3362"></option>
		<option value="biol3370"></option>
		<option value="biol3371"></option>
		<option value="biol3380"></option>
		<option value="biol3388"></option>
		<option value="biol3455"></option>
		<option value="biol3456"></option>
		<option value="biol3V00"></option>
		<option value="biol3V01"></option>
		<option value="biol3V20"></option>
		<option value="biol3V40"></option>
		<option value="biol3V81"></option>
		<option value="biol3V82"></option>
		<option value="biol3V83"></option>
		<option value="biol3V84"></option>
		<option value="biol3V90"></option>
		<option value="biol3V91"></option>
		<option value="biol3V92"></option>
		<option value="biol3V93"></option>
		<option value="biol3V94"></option>
		<option value="biol3V95"></option>
		<option value="biol3V96"></option>
		<option value="biol4261"></option>
		<option value="biol4302"></option>
		<option value="biol4308"></option>
		<option value="biol4310"></option>
		<option value="biol4315"></option>
		<option value="biol4316"></option>
		<option value="biol4320"></option>
		<option value="biol4324"></option>
		<option value="biol4332"></option>
		<option value="biol4333"></option>
		<option value="biol4336"></option>
		<option value="biol4337"></option>
		<option value="biol4338"></option>
		<option value="biol4340"></option>
		<option value="biol4341"></option>
		<option value="biol4342"></option>
		<option value="biol4345"></option>
		<option value="biol4350"></option>
		<option value="biol4352"></option>
		<option value="biol4353"></option>
		<option value="biol4355"></option>
		<option value="biol4360"></option>
		<option value="biol4365"></option>
		<option value="biol4366"></option>
		<option value="biol4370"></option>
		<option value="biol4375"></option>
		<option value="biol4380"></option>
		<option value="biol4382"></option>
		<option value="biol4385"></option>
		<option value="biol4390"></option>
		<option value="biol4391"></option>
		<option value="biol4398"></option>
		<option value="biol4399"></option>
		<option value="biol4461"></option>
		<option value="biol4V00"></option>
		<option value="biol4V01"></option>
		<option value="biol4V04"></option>
		<option value="biol4V40"></option>
		<option value="biol4V51"></option>
		<option value="biol4V95"></option>
		<option value="biol4V98"></option>
		<option value="biol4V99"></option>
		<option value="bis1100"> </option>
		<option value="bis2V90"> </option>
		<option value="bis3150"> </option>
		<option value="bis3190"> </option>
		<option value="bis3250"> </option>
		<option value="bis3310"> </option>
		<option value="bis3320"> </option>
		<option value="bis3V03"> </option>
		<option value="bis4303"> </option>
		<option value="bis4305"> </option>
		<option value="bis4306"> </option>
		<option value="bis4310"> </option>
		<option value="bis4V01"> </option>
		<option value="bis4V02"> </option>
		<option value="bis4V04"> </option>
		<option value="blaw2301"></option>
		<option value="blaw3301"></option>
		<option value="blaw4301"></option>
		<option value="blaw4305"></option>
		<option value="blaw4310"></option>
		<option value="bmen1100"></option>
		<option value="bmen1208"></option>
		<option value="bmen2310"></option>
		<option value="bmen2320"></option>
		<option value="bmen2330"></option>
		<option value="bmen2340"></option>
		<option value="bmen2V99"></option>
		<option value="bmen3101"></option>
		<option value="bmen3110"></option>
		<option value="bmen3120"></option>
		<option value="bmen3130"></option>
		<option value="bmen3150"></option>
		<option value="bmen3170"></option>
		<option value="bmen3301"></option>
		<option value="bmen3310"></option>
		<option value="bmen3315"></option>
		<option value="bmen3320"></option>
		<option value="bmen3325"></option>
		<option value="bmen3330"></option>
		<option value="bmen3350"></option>
		<option value="bmen3360"></option>
		<option value="bmen3370"></option>
		<option value="bmen3V99"></option>
		<option value="bmen4110"></option>
		<option value="bmen4310"></option>
		<option value="bmen4320"></option>
		<option value="bmen4330"></option>
		<option value="bmen4342"></option>
		<option value="bmen4350"></option>
		<option value="bmen4360"></option>
		<option value="bmen4388"></option>
		<option value="bmen4389"></option>
		<option value="bmen4399"></option>
		<option value="bmen4V95"></option>
		<option value="bmen4V97"></option>
		<option value="bmen4V98"></option>
		<option value="bps4305"> </option>
		<option value="bps4307"> </option>
		<option value="busi2301"></option>
		<option value="ce1100">  </option>
		<option value="ce1200">  </option>
		<option value="ce1202">  </option>
		<option value="ce1337">  </option>
		<option value="ce2305">  </option>
		<option value="ce2310">  </option>
		<option value="ce2336">  </option>
		<option value="ce2V99">  </option>
		<option value="ce3101">  </option>
		<option value="ce3102">  </option>
		<option value="ce3110">  </option>
		<option value="ce3111">  </option>
		<option value="ce3120">  </option>
		<option value="ce3301">  </option>
		<option value="ce3302">  </option>
		<option value="ce3307">  </option>
		<option value="ce3310">  </option>
		<option value="ce3311">  </option>
		<option value="ce3320">  </option>
		<option value="ce3345">  </option>
		<option value="ce3346">  </option>
		<option value="ce3354">  </option>
		<option value="ce4304">  </option>
		<option value="ce4337">  </option>
		<option value="ce4348">  </option>
		<option value="ce4370">  </option>
		<option value="ce4372">  </option>
		<option value="ce4388">  </option>
		<option value="ce4389">  </option>
		<option value="ce4390">  </option>
		<option value="ce4399">  </option>
		<option value="ce4V95">  </option>
		<option value="ce4V97">  </option>
		<option value="ce4V98">  </option>
		<option value="cgs1100"> </option>
		<option value="cgs2301"> </option>
		<option value="cgs3325"> </option>
		<option value="cgs3340"> </option>
		<option value="cgs3342"> </option>
		<option value="cgs3361"> </option>
		<option value="cgs4188"> </option>
		<option value="cgs4312"> </option>
		<option value="cgs4313"> </option>
		<option value="cgs4314"> </option>
		<option value="cgs4315"> </option>
		<option value="cgs4352"> </option>
		<option value="cgs4353"> </option>
		<option value="cgs4355"> </option>
		<option value="cgs4359"> </option>
		<option value="cgs4362"> </option>
		<option value="cgs4364"> </option>
		<option value="cgs4375"> </option>
		<option value="cgs4385"> </option>
		<option value="cgs4386"> </option>
		<option value="cgs4389"> </option>
		<option value="cgs4394"> </option>
		<option value="cgs4395"> </option>
		<option value="cgs4397"> </option>
		<option value="cgs4V90"> </option>
		<option value="cgs4V96"> </option>
		<option value="cgs4V98"> </option>
		<option value="cgs4V99"> </option>
		<option value="chem1111"></option>
		<option value="chem1112"></option>
		<option value="chem1115"></option>
		<option value="chem1116"></option>
		<option value="chem1311"></option>
		<option value="chem1312"></option>
		<option value="chem1315"></option>
		<option value="chem1316"></option>
		<option value="chem2123"></option>
		<option value="chem2125"></option>
		<option value="chem2130"></option>
		<option value="chem2323"></option>
		<option value="chem2325"></option>
		<option value="chem2330"></option>
		<option value="chem2401"></option>
		<option value="chem2V01"></option>
		<option value="chem3321"></option>
		<option value="chem3322"></option>
		<option value="chem3341"></option>
		<option value="chem3361"></option>
		<option value="chem3362"></option>
		<option value="chem3471"></option>
		<option value="chem3472"></option>
		<option value="chem3V92"></option>
		<option value="chem4335"></option>
		<option value="chem4355"></option>
		<option value="chem4381"></option>
		<option value="chem4390"></option>
		<option value="chem4399"></option>
		<option value="chem4473"></option>
		<option value="chem4V01"></option>
		<option value="chem4V91"></option>
		<option value="chin1311"></option>
		<option value="chin1312"></option>
		<option value="chin2311"></option>
		<option value="chin2312"></option>
		<option value="chin3365"></option>
		<option value="cldp1100"></option>
		<option value="cldp2314"></option>
		<option value="cldp3303"></option>
		<option value="cldp3305"></option>
		<option value="cldp3310"></option>
		<option value="cldp3332"></option>
		<option value="cldp3336"></option>
		<option value="cldp3338"></option>
		<option value="cldp3339"></option>
		<option value="cldp3342"></option>
		<option value="cldp3343"></option>
		<option value="cldp3362"></option>
		<option value="cldp3365"></option>
		<option value="cldp3366"></option>
		<option value="cldp3394"></option>
		<option value="cldp3494"></option>
		<option value="cldp4188"></option>
		<option value="cldp4308"></option>
		<option value="cldp4334"></option>
		<option value="cldp4344"></option>
		<option value="cldp4345"></option>
		<option value="cldp4347"></option>
		<option value="cldp4375"></option>
		<option value="cldp4389"></option>
		<option value="cldp4394"></option>
		<option value="cldp4395"></option>
		<option value="cldp4397"></option>
		<option value="cldp4V90"></option>
		<option value="cldp4V96"></option>
		<option value="cldp4V98"></option>
		<option value="cldp4V99"></option>
		<option value="comm1311"></option>
		<option value="comm2311"></option>
		<option value="comm2313"></option>
		<option value="comm2314"></option>
		<option value="comm2317"></option>
		<option value="comm2V71"></option>
		<option value="comm3300"></option>
		<option value="comm3301"></option>
		<option value="comm3311"></option>
		<option value="comm3320"></option>
		<option value="comm3338"></option>
		<option value="comm3342"></option>
		<option value="comm3351"></option>
		<option value="comm3352"></option>
		<option value="comm4313"></option>
		<option value="comm4314"></option>
		<option value="comm4340"></option>
		<option value="comm4350"></option>
		<option value="comm4351"></option>
		<option value="comm4360"></option>
		<option value="comm4370"></option>
		<option value="comm4V71"></option>
		<option value="cosc1136"></option>
		<option value="cosc1336"></option>
		<option value="cosc1337"></option>
		<option value="cosc2336"></option>
		<option value="crij1301"></option>
		<option value="crij1306"></option>
		<option value="crij1307"></option>
		<option value="crij1310"></option>
		<option value="crij1313"></option>
		<option value="crij2313"></option>
		<option value="crij2328"></option>
		<option value="crim1301"></option>
		<option value="crim1307"></option>
		<option value="crim2306"></option>
		<option value="crim2308"></option>
		<option value="crim2313"></option>
		<option value="crim2316"></option>
		<option value="crim2317"></option>
		<option value="crim3300"></option>
		<option value="crim3301"></option>
		<option value="crim3302"></option>
		<option value="crim3303"></option>
		<option value="crim3304"></option>
		<option value="crim3307"></option>
		<option value="crim3309"></option>
		<option value="crim3310"></option>
		<option value="crim3312"></option>
		<option value="crim3319"></option>
		<option value="crim3320"></option>
		<option value="crim3323"></option>
		<option value="crim3324"></option>
		<option value="crim3325"></option>
		<option value="crim3326"></option>
		<option value="crim3327"></option>
		<option value="crim4311"></option>
		<option value="crim4315"></option>
		<option value="crim4322"></option>
		<option value="crim4323"></option>
		<option value="crim4324"></option>
		<option value="crim4336"></option>
		<option value="crim4337"></option>
		<option value="crim4396"></option>
		<option value="crim4V97"></option>
		<option value="crim4V98"></option>
		<option value="crim4V99"></option>
		<option value="crwt2301"></option>
		<option value="crwt2V71"></option>
		<option value="crwt3307"></option>
		<option value="crwt3308"></option>
		<option value="crwt3351"></option>
		<option value="crwt3360"></option>
		<option value="crwt4307"></option>
		<option value="crwt4353"></option>
		<option value="crwt4354"></option>
		<option value="crwt4V71"></option>
		<option value="cs1134">  </option>
		<option value="cs1136">  </option>
		<option value="cs1200">  </option>
		<option value="cs1324">  </option>
		<option value="cs1325">  </option>
		<option value="cs1334">  </option>
		<option value="cs1335">  </option>
		<option value="cs1336">  </option>
		<option value="cs1337">  </option>
		<option value="cs2110">  </option>
		<option value="cs2305">  </option>
		<option value="cs2310">  </option>
		<option value="cs2335">  </option>
		<option value="cs2336">  </option>
		<option value="cs2V95">  </option>
		<option value="cs3149">  </option>
		<option value="cs3162">  </option>
		<option value="cs3305">  </option>
		<option value="cs3333">  </option>
		<option value="cs3335">  </option>
		<option value="cs3340">  </option>
		<option value="cs3341">  </option>
		<option value="cs3345">  </option>
		<option value="cs3354">  </option>
		<option value="cs3360">  </option>
		<option value="cs3376">  </option>
		<option value="cs3385">  </option>
		<option value="cs3V95">  </option>
		<option value="cs4141">  </option>
		<option value="cs4314">  </option>
		<option value="cs4315">  </option>
		<option value="cs4332">  </option>
		<option value="cs4334">  </option>
		<option value="cs4336">  </option>
		<option value="cs4337">  </option>
		<option value="cs4341">  </option>
		<option value="cs4347">  </option>
		<option value="cs4348">  </option>
		<option value="cs4349">  </option>
		<option value="cs4352">  </option>
		<option value="cs4353">  </option>
		<option value="cs4361">  </option>
		<option value="cs4365">  </option>
		<option value="cs4375">  </option>
		<option value="cs4376">  </option>
		<option value="cs4384">  </option>
		<option value="cs4386">  </option>
		<option value="cs4389">  </option>
		<option value="cs4390">  </option>
		<option value="cs4391">  </option>
		<option value="cs4392">  </option>
		<option value="cs4393">  </option>
		<option value="cs4394">  </option>
		<option value="cs4395">  </option>
		<option value="cs4396">  </option>
		<option value="cs4397">  </option>
		<option value="cs4398">  </option>
		<option value="cs4399">  </option>
		<option value="cs4485">  </option>
		<option value="cs4V95">  </option>
		<option value="cs4V98">  </option>
		<option value="danc1310"></option>
		<option value="danc1341"></option>
		<option value="danc1345"></option>
		<option value="danc1347"></option>
		<option value="danc2311"></option>
		<option value="danc2321"></option>
		<option value="danc2331"></option>
		<option value="danc2332"></option>
		<option value="danc2333"></option>
		<option value="danc2334"></option>
		<option value="danc2336"></option>
		<option value="danc2V71"></option>
		<option value="danc3332"></option>
		<option value="danc3333"></option>
		<option value="danc3334"></option>
		<option value="danc3335"></option>
		<option value="danc3340"></option>
		<option value="danc3342"></option>
		<option value="danc3345"></option>
		<option value="danc3347"></option>
		<option value="danc4313"></option>
		<option value="danc4314"></option>
		<option value="danc4315"></option>
		<option value="danc4316"></option>
		<option value="danc4317"></option>
		<option value="danc4318"></option>
		<option value="danc4V71"></option>
		<option value="dram1310"></option>
		<option value="dram1351"></option>
		<option value="dram1352"></option>
		<option value="dram2311"></option>
		<option value="dram2364"></option>
		<option value="dram2371"></option>
		<option value="dram2372"></option>
		<option value="dram2373"></option>
		<option value="dram2V71"></option>
		<option value="dram3310"></option>
		<option value="dram3323"></option>
		<option value="dram3324"></option>
		<option value="dram3325"></option>
		<option value="dram3342"></option>
		<option value="dram3351"></option>
		<option value="dram3356"></option>
		<option value="dram3372"></option>
		<option value="dram4301"></option>
		<option value="dram4V71"></option>
		<option value="econ2001"></option>
		<option value="econ2301"></option>
		<option value="econ2302"></option>
		<option value="econ3304"></option>
		<option value="econ3310"></option>
		<option value="econ3311"></option>
		<option value="econ3312"></option>
		<option value="econ3315"></option>
		<option value="econ3330"></option>
		<option value="econ3332"></option>
		<option value="econ3335"></option>
		<option value="econ3336"></option>
		<option value="econ3337"></option>
		<option value="econ3369"></option>
		<option value="econ3381"></option>
		<option value="econ4301"></option>
		<option value="econ4310"></option>
		<option value="econ4320"></option>
		<option value="econ4330"></option>
		<option value="econ4332"></option>
		<option value="econ4333"></option>
		<option value="econ4334"></option>
		<option value="econ4336"></option>
		<option value="econ4340"></option>
		<option value="econ4342"></option>
		<option value="econ4345"></option>
		<option value="econ4346"></option>
		<option value="econ4348"></option>
		<option value="econ4351"></option>
		<option value="econ4355"></option>
		<option value="econ4360"></option>
		<option value="econ4362"></option>
		<option value="econ4370"></option>
		<option value="econ4381"></option>
		<option value="econ4382"></option>
		<option value="econ4385"></option>
		<option value="econ4396"></option>
		<option value="econ4V97"></option>
		<option value="econ4V98"></option>
		<option value="econ4V99"></option>
		<option value="ecs1100"> </option>
		<option value="ecs1200"> </option>
		<option value="ecs3301"> </option>
		<option value="ecs3310"> </option>
		<option value="ecs3361"> </option>
		<option value="ecs3390"> </option>
		<option value="ecsc3177"></option>
		<option value="ecsc3179"></option>
		<option value="ecsc4300"></option>
		<option value="ecsc4378"></option>
		<option value="ed3314">  </option>
		<option value="ed3315">  </option>
		<option value="ed3339">  </option>
		<option value="ed3340">  </option>
		<option value="ed3342">  </option>
		<option value="ed3345">  </option>
		<option value="ed3370">  </option>
		<option value="ed3371">  </option>
		<option value="ed3380">  </option>
		<option value="ed3382">  </option>
		<option value="ed4343">  </option>
		<option value="ed4344">  </option>
		<option value="ed4345">  </option>
		<option value="ed4351">  </option>
		<option value="ed4352">  </option>
		<option value="ed4353">  </option>
		<option value="ed4357">  </option>
		<option value="ed4358">  </option>
		<option value="ed4359">  </option>
		<option value="ed4361">  </option>
		<option value="ed4362">  </option>
		<option value="ed4363">  </option>
		<option value="ed4370">  </option>
		<option value="ed4372">  </option>
		<option value="ed4693">  </option>
		<option value="ed4694">  </option>
		<option value="ed4696">  </option>
		<option value="ed4V90">  </option>
		<option value="ed4V95">  </option>
		<option value="ee1100">  </option>
		<option value="ee1202">  </option>
		<option value="ee2310">  </option>
		<option value="ee2V99">  </option>
		<option value="ee3101">  </option>
		<option value="ee3102">  </option>
		<option value="ee3110">  </option>
		<option value="ee3111">  </option>
		<option value="ee3120">  </option>
		<option value="ee3150">  </option>
		<option value="ee3301">  </option>
		<option value="ee3302">  </option>
		<option value="ee3310">  </option>
		<option value="ee3311">  </option>
		<option value="ee3320">  </option>
		<option value="ee3350">  </option>
		<option value="ee4168">  </option>
		<option value="ee4301">  </option>
		<option value="ee4302">  </option>
		<option value="ee4304">  </option>
		<option value="ee4310">  </option>
		<option value="ee4325">  </option>
		<option value="ee4330">  </option>
		<option value="ee4340">  </option>
		<option value="ee4341">  </option>
		<option value="ee4342">  </option>
		<option value="ee4360">  </option>
		<option value="ee4361">  </option>
		<option value="ee4365">  </option>
		<option value="ee4367">  </option>
		<option value="ee4368">  </option>
		<option value="ee4370">  </option>
		<option value="ee4388">  </option>
		<option value="ee4389">  </option>
		<option value="ee4390">  </option>
		<option value="ee4391">  </option>
		<option value="ee4392">  </option>
		<option value="ee4399">  </option>
		<option value="ee4V95">  </option>
		<option value="ee4V97">  </option>
		<option value="ee4V98">  </option>
		<option value="emac3328"></option>
		<option value="emac3343"></option>
		<option value="emac4325"></option>
		<option value="emac4372"></option>
		<option value="emac4380"></option>
		<option value="emac4399"></option>
		<option value="emac4V71"></option>
		<option value="emac4V99"></option>
		<option value="engl1302"></option>
		<option value="engr2300"></option>
		<option value="engr2301"></option>
		<option value="engr2302"></option>
		<option value="engr2332"></option>
		<option value="engr3300"></option>
		<option value="engr3341"></option>
		<option value="engr4334"></option>
		<option value="engr4343"></option>
		<option value="engy3300"></option>
		<option value="engy3330"></option>
		<option value="engy4300"></option>
		<option value="engy4313"></option>
		<option value="entp3301"></option>
		<option value="entp3320"></option>
		<option value="entp3321"></option>
		<option value="entp3322"></option>
		<option value="entp3323"></option>
		<option value="entp3360"></option>
		<option value="entp4090"></option>
		<option value="entp4311"></option>
		<option value="entp4320"></option>
		<option value="entp4330"></option>
		<option value="entp4340"></option>
		<option value="entp4350"></option>
		<option value="entp4360"></option>
		<option value="entp4V00"></option>
		<option value="entp4V90"></option>
		<option value="envr2302"></option>
		<option value="epps1110"></option>
		<option value="epps2301"></option>
		<option value="epps2302"></option>
		<option value="epps2303"></option>
		<option value="epps3305"></option>
		<option value="epps3405"></option>
		<option value="epps4301"></option>
		<option value="film2332"></option>
		<option value="film2V71"></option>
		<option value="film3321"></option>
		<option value="film3325"></option>
		<option value="film3342"></option>
		<option value="film4V71"></option>
		<option value="fin3100"> </option>
		<option value="fin3300"> </option>
		<option value="fin3305"> </option>
		<option value="fin3320"> </option>
		<option value="fin3330"> </option>
		<option value="fin3340"> </option>
		<option value="fin3350"> </option>
		<option value="fin3360"> </option>
		<option value="fin3365"> </option>
		<option value="fin3370"> </option>
		<option value="fin3380"> </option>
		<option value="fin3390"> </option>
		<option value="fin4080"> </option>
		<option value="fin4300"> </option>
		<option value="fin4310"> </option>
		<option value="fin4313"> </option>
		<option value="fin4315"> </option>
		<option value="fin4320"> </option>
		<option value="fin4321"> </option>
		<option value="fin4328"> </option>
		<option value="fin4330"> </option>
		<option value="fin4335"> </option>
		<option value="fin4337"> </option>
		<option value="fin4340"> </option>
		<option value="fin4345"> </option>
		<option value="fin4350"> </option>
		<option value="fin4360"> </option>
		<option value="fin4380"> </option>
		<option value="fin4390"> </option>
		<option value="fin4399"> </option>
		<option value="fin4V80"> </option>
		<option value="fin4V90"> </option>
		<option value="fren1311"></option>
		<option value="fren1312"></option>
		<option value="fren2311"></option>
		<option value="fren2312"></option>
		<option value="geog1304"></option>
		<option value="geog2302"></option>
		<option value="geog2303"></option>
		<option value="geog3304"></option>
		<option value="geog3331"></option>
		<option value="geog3357"></option>
		<option value="geog3359"></option>
		<option value="geog3370"></option>
		<option value="geog3372"></option>
		<option value="geog3377"></option>
		<option value="geog3382"></option>
		<option value="geog4309"></option>
		<option value="geog4380"></option>
		<option value="geog4396"></option>
		<option value="geog4V97"></option>
		<option value="geog4V98"></option>
		<option value="geog4V99"></option>
		<option value="geol1103"></option>
		<option value="geol1104"></option>
		<option value="geol1303"></option>
		<option value="geol1304"></option>
		<option value="geol1305"></option>
		<option value="geol1345"></option>
		<option value="geol1347"></option>
		<option value="geol2409"></option>
		<option value="geos1103"></option>
		<option value="geos1104"></option>
		<option value="geos1303"></option>
		<option value="geos1304"></option>
		<option value="geos2301"></option>
		<option value="geos2302"></option>
		<option value="geos2305"></option>
		<option value="geos2306"></option>
		<option value="geos2310"></option>
		<option value="geos2321"></option>
		<option value="geos2324"></option>
		<option value="geos2328"></option>
		<option value="geos2332"></option>
		<option value="geos2333"></option>
		<option value="geos2406"></option>
		<option value="geos2409"></option>
		<option value="geos2V08"></option>
		<option value="geos3110"></option>
		<option value="geos3121"></option>
		<option value="geos3122"></option>
		<option value="geos3123"></option>
		<option value="geos3124"></option>
		<option value="geos3125"></option>
		<option value="geos3126"></option>
		<option value="geos3127"></option>
		<option value="geos3128"></option>
		<option value="geos3300"></option>
		<option value="geos3304"></option>
		<option value="geos3310"></option>
		<option value="geos3321"></option>
		<option value="geos3331"></option>
		<option value="geos3332"></option>
		<option value="geos3401"></option>
		<option value="geos3421"></option>
		<option value="geos3432"></option>
		<option value="geos3434"></option>
		<option value="geos3464"></option>
		<option value="geos3470"></option>
		<option value="geos4300"></option>
		<option value="geos4320"></option>
		<option value="geos4322"></option>
		<option value="geos4325"></option>
		<option value="geos4369"></option>
		<option value="geos4390"></option>
		<option value="geos4395"></option>
		<option value="geos4399"></option>
		<option value="geos4430"></option>
		<option value="geos4V08"></option>
		<option value="geos4V09"></option>
		<option value="geos4V80"></option>
		<option value="germ1311"></option>
		<option value="germ1312"></option>
		<option value="germ2311"></option>
		<option value="germ2312"></option>
		<option value="gisc2301"></option>
		<option value="gisc2302"></option>
		<option value="gisc2305"></option>
		<option value="gisc3304"></option>
		<option value="gisc4101"></option>
		<option value="gisc4310"></option>
		<option value="gisc4317"></option>
		<option value="gisc4325"></option>
		<option value="gisc4326"></option>
		<option value="gisc4382"></option>
		<option value="gisc4384"></option>
		<option value="gisc4385"></option>
		<option value="gisc4386"></option>
		<option value="gisc4V96"></option>
		<option value="gisc4V97"></option>
		<option value="gisc4V98"></option>
		<option value="gisc4V99"></option>
		<option value="govt2107"></option>
		<option value="govt2301"></option>
		<option value="govt2302"></option>
		<option value="govt2305"></option>
		<option value="govt2306"></option>
		<option value="gst2300"> </option>
		<option value="gst2311"> </option>
		<option value="gst2312"> </option>
		<option value="gst2V90"> </option>
		<option value="gst3301"> </option>
		<option value="gst3302"> </option>
		<option value="gst3303"> </option>
		<option value="gst4311"> </option>
		<option value="gst4325"> </option>
		<option value="gst4360"> </option>
		<option value="gst4379"> </option>
		<option value="gst4380"> </option>
		<option value="gst4381"> </option>
		<option value="gst4382"> </option>
		<option value="gst4V80"> </option>
		<option value="hist1301"></option>
		<option value="hist1302"></option>
		<option value="hist2301"></option>
		<option value="hist2330"></option>
		<option value="hist2331"></option>
		<option value="hist2332"></option>
		<option value="hist2V71"></option>
		<option value="hist3301"></option>
		<option value="hist3302"></option>
		<option value="hist3312"></option>
		<option value="hist3313"></option>
		<option value="hist3314"></option>
		<option value="hist3315"></option>
		<option value="hist3316"></option>
		<option value="hist3317"></option>
		<option value="hist3318"></option>
		<option value="hist3319"></option>
		<option value="hist3320"></option>
		<option value="hist3324"></option>
		<option value="hist3327"></option>
		<option value="hist3328"></option>
		<option value="hist3331"></option>
		<option value="hist3332"></option>
		<option value="hist3333"></option>
		<option value="hist3334"></option>
		<option value="hist3336"></option>
		<option value="hist3337"></option>
		<option value="hist3344"></option>
		<option value="hist3351"></option>
		<option value="hist3352"></option>
		<option value="hist3355"></option>
		<option value="hist3358"></option>
		<option value="hist3360"></option>
		<option value="hist3364"></option>
		<option value="hist3365"></option>
		<option value="hist3366"></option>
		<option value="hist3367"></option>
		<option value="hist3369"></option>
		<option value="hist3370"></option>
		<option value="hist3374"></option>
		<option value="hist3376"></option>
		<option value="hist3377"></option>
		<option value="hist3379"></option>
		<option value="hist3380"></option>
		<option value="hist3382"></option>
		<option value="hist3384"></option>
		<option value="hist3386"></option>
		<option value="hist3387"></option>
		<option value="hist3389"></option>
		<option value="hist3390"></option>
		<option value="hist3391"></option>
		<option value="hist3392"></option>
		<option value="hist3394"></option>
		<option value="hist3395"></option>
		<option value="hist3396"></option>
		<option value="hist3398"></option>
		<option value="hist3399"></option>
		<option value="hist4330"></option>
		<option value="hist4331"></option>
		<option value="hist4332"></option>
		<option value="hist4336"></option>
		<option value="hist4339"></option>
		<option value="hist4344"></option>
		<option value="hist4345"></option>
		<option value="hist4346"></option>
		<option value="hist4349"></option>
		<option value="hist4356"></option>
		<option value="hist4357"></option>
		<option value="hist4358"></option>
		<option value="hist4359"></option>
		<option value="hist4360"></option>
		<option value="hist4368"></option>
		<option value="hist4376"></option>
		<option value="hist4377"></option>
		<option value="hist4378"></option>
		<option value="hist4380"></option>
		<option value="hist4V71"></option>
		<option value="hist4V99"></option>
		<option value="hlth1100"></option>
		<option value="hlth1301"></option>
		<option value="hlth1322"></option>
		<option value="hlth3101"></option>
		<option value="hlth3300"></option>
		<option value="hlth3301"></option>
		<option value="hlth3305"></option>
		<option value="hlth3306"></option>
		<option value="hlth3310"></option>
		<option value="hlth3315"></option>
		<option value="hlth4108"></option>
		<option value="hlth4304"></option>
		<option value="hlth4305"></option>
		<option value="hlth4380"></option>
		<option value="hlth4V01"></option>
		<option value="hmgt3100"></option>
		<option value="hmgt3301"></option>
		<option value="hmgt3310"></option>
		<option value="hmgt3311"></option>
		<option value="hmgt4090"></option>
		<option value="hmgt4301"></option>
		<option value="hmgt4321"></option>
		<option value="hmgt4331"></option>
		<option value="hmgt4341"></option>
		<option value="hmgt4351"></option>
		<option value="hmgt4V90"></option>
		<option value="hons3199"></option>
		<option value="hons4V96"></option>
		<option value="hons4V97"></option>
		<option value="huma1301"></option>
		<option value="huma3300"></option>
		<option value="huma3342"></option>
		<option value="huma3350"></option>
		<option value="huma3351"></option>
		<option value="ims3100"> </option>
		<option value="ims3310"> </option>
		<option value="ims3V91"> </option>
		<option value="ims3V92"> </option>
		<option value="ims3V93"> </option>
		<option value="ims3V94"> </option>
		<option value="ims3V95"> </option>
		<option value="ims3V96"> </option>
		<option value="ims4090"> </option>
		<option value="ims4310"> </option>
		<option value="ims4320"> </option>
		<option value="ims4325"> </option>
		<option value="ims4330"> </option>
		<option value="ims4332"> </option>
		<option value="ims4334"> </option>
		<option value="ims4373"> </option>
		<option value="ims4V81"> </option>
		<option value="ims4V90"> </option>
		<option value="ims4V94"> </option>
		<option value="ipec3349"></option>
		<option value="ipec4301"></option>
		<option value="ipec4302"></option>
		<option value="ipec4303"></option>
		<option value="ipec4304"></option>
		<option value="ipec4305"></option>
		<option value="ipec4307"></option>
		<option value="ipec4308"></option>
		<option value="ipec4309"></option>
		<option value="ipec4310"></option>
		<option value="ipec4375"></option>
		<option value="ipec4376"></option>
		<option value="ipec4377"></option>
		<option value="ipec4384"></option>
		<option value="ipec4396"></option>
		<option value="ipec4V91"></option>
		<option value="ipec4V97"></option>
		<option value="ipec4V98"></option>
		<option value="ipec4V99"></option>
		<option value="isae2121"></option>
		<option value="isae4V50"></option>
		<option value="isah2130"></option>
		<option value="isah3130"></option>
		<option value="isah3131"></option>
		<option value="isah4V50"></option>
		<option value="isah4V88"></option>
		<option value="isec4102"></option>
		<option value="isec4201"></option>
		<option value="isec4395"></option>
		<option value="isec4V87"></option>
		<option value="isis2305"></option>
		<option value="isis2308"></option>
		<option value="isis3305"></option>
		<option value="isis3306"></option>
		<option value="isis3308"></option>
		<option value="isis3309"></option>
		<option value="isis3310"></option>
		<option value="isis3312"></option>
		<option value="isis3315"></option>
		<option value="isis3335"></option>
		<option value="isis3338"></option>
		<option value="isis3350"></option>
		<option value="isis3390"></option>
		<option value="isis3V70"></option>
		<option value="isis4301"></option>
		<option value="isis4302"></option>
		<option value="isis4303"></option>
		<option value="isis4309"></option>
		<option value="isis4350"></option>
		<option value="isis4V89"></option>
		<option value="isns2359"></option>
		<option value="isns2367"></option>
		<option value="isns2368"></option>
		<option value="isns3359"></option>
		<option value="isns3367"></option>
		<option value="isns3368"></option>
		<option value="isns3371"></option>
		<option value="isns3373"></option>
		<option value="iso9000"> </option>
		<option value="isss3349"></option>
		<option value="isss4320"></option>
		<option value="isss4358"></option>
		<option value="isss4359"></option>
		<option value="isss4377"></option>
		<option value="isss4V86"></option>
		<option value="isss4V97"></option>
		<option value="itss3100"></option>
		<option value="itss3211"></option>
		<option value="itss3300"></option>
		<option value="itss3310"></option>
		<option value="itss3312"></option>
		<option value="itss4090"></option>
		<option value="itss4300"></option>
		<option value="itss4301"></option>
		<option value="itss4312"></option>
		<option value="itss4320"></option>
		<option value="itss4330"></option>
		<option value="itss4340"></option>
		<option value="itss4342"></option>
		<option value="itss4343"></option>
		<option value="itss4351"></option>
		<option value="itss4352"></option>
		<option value="itss4353"></option>
		<option value="itss4354"></option>
		<option value="itss4355"></option>
		<option value="itss4360"></option>
		<option value="itss4370"></option>
		<option value="itss4390"></option>
		<option value="itss4V81"></option>
		<option value="itss4V90"></option>
		<option value="itss4V95"></option>
		<option value="japn1311"></option>
		<option value="japn1312"></option>
		<option value="japn2311"></option>
		<option value="japn2312"></option>
		<option value="japn3311"></option>
		<option value="japn3312"></option>
		<option value="lang1311"></option>
		<option value="lang1312"></option>
		<option value="lang2311"></option>
		<option value="lang2312"></option>
		<option value="lang2342"></option>
		<option value="lang2V71"></option>
		<option value="lang3342"></option>
		<option value="lang3348"></option>
		<option value="lang4348"></option>
		<option value="lang4V71"></option>
		<option value="lit2331"> </option>
		<option value="lit2341"> </option>
		<option value="lit2V71"> </option>
		<option value="lit3300"> </option>
		<option value="lit3304"> </option>
		<option value="lit3309"> </option>
		<option value="lit3310"> </option>
		<option value="lit3311"> </option>
		<option value="lit3312"> </option>
		<option value="lit3313"> </option>
		<option value="lit3314"> </option>
		<option value="lit3315"> </option>
		<option value="lit3316"> </option>
		<option value="lit3317"> </option>
		<option value="lit3318"> </option>
		<option value="lit3319"> </option>
		<option value="lit3320"> </option>
		<option value="lit3321"> </option>
		<option value="lit3322"> </option>
		<option value="lit3323"> </option>
		<option value="lit3324"> </option>
		<option value="lit3325"> </option>
		<option value="lit3326"> </option>
		<option value="lit3327"> </option>
		<option value="lit3328"> </option>
		<option value="lit3329"> </option>
		<option value="lit3330"> </option>
		<option value="lit3331"> </option>
		<option value="lit3332"> </option>
		<option value="lit3334"> </option>
		<option value="lit3335"> </option>
		<option value="lit3339"> </option>
		<option value="lit3340"> </option>
		<option value="lit3343"> </option>
		<option value="lit3344"> </option>
		<option value="lit3380"> </option>
		<option value="lit3381"> </option>
		<option value="lit3382"> </option>
		<option value="lit3383"> </option>
		<option value="lit3385"> </option>
		<option value="lit4329"> </option>
		<option value="lit4330"> </option>
		<option value="lit4344"> </option>
		<option value="lit4346"> </option>
		<option value="lit4348"> </option>
		<option value="lit4V71"> </option>
		<option value="lit4V99"> </option>
		<option value="math1306"></option>
		<option value="math1314"></option>
		<option value="math1316"></option>
		<option value="math1325"></option>
		<option value="math1326"></option>
		<option value="math1342"></option>
		<option value="math2305"></option>
		<option value="math2306"></option>
		<option value="math2312"></option>
		<option value="math2333"></option>
		<option value="math2370"></option>
		<option value="math2399"></option>
		<option value="math2413"></option>
		<option value="math2414"></option>
		<option value="math2415"></option>
		<option value="math2417"></option>
		<option value="math2418"></option>
		<option value="math2419"></option>
		<option value="math2420"></option>
		<option value="math2451"></option>
		<option value="math2V90"></option>
		<option value="math3301"></option>
		<option value="math3303"></option>
		<option value="math3305"></option>
		<option value="math3307"></option>
		<option value="math3310"></option>
		<option value="math3311"></option>
		<option value="math3312"></option>
		<option value="math3321"></option>
		<option value="math3323"></option>
		<option value="math3379"></option>
		<option value="math3380"></option>
		<option value="math4301"></option>
		<option value="math4302"></option>
		<option value="math4332"></option>
		<option value="math4334"></option>
		<option value="math4341"></option>
		<option value="math4355"></option>
		<option value="math4362"></option>
		<option value="math4381"></option>
		<option value="math4390"></option>
		<option value="math4399"></option>
		<option value="math4V03"></option>
		<option value="math4V91"></option>
		<option value="mech1100"></option>
		<option value="mech1208"></option>
		<option value="mech1V95"></option>
		<option value="mech2120"></option>
		<option value="mech2310"></option>
		<option value="mech2320"></option>
		<option value="mech2330"></option>
		<option value="mech2V95"></option>
		<option value="mech3105"></option>
		<option value="mech3115"></option>
		<option value="mech3120"></option>
		<option value="mech3150"></option>
		<option value="mech3301"></option>
		<option value="mech3305"></option>
		<option value="mech3310"></option>
		<option value="mech3315"></option>
		<option value="mech3320"></option>
		<option value="mech3350"></option>
		<option value="mech3351"></option>
		<option value="mech3360"></option>
		<option value="mech3370"></option>
		<option value="mech3V95"></option>
		<option value="mech4110"></option>
		<option value="mech4301"></option>
		<option value="mech4310"></option>
		<option value="mech4320"></option>
		<option value="mech4330"></option>
		<option value="mech4340"></option>
		<option value="mech4350"></option>
		<option value="mech4360"></option>
		<option value="mech4370"></option>
		<option value="mech4380"></option>
		<option value="mech4381"></option>
		<option value="mech4382"></option>
		<option value="mech4399"></option>
		<option value="mech4V95"></option>
		<option value="mech4V98"></option>
		<option value="meco3300"></option>
		<option value="meco3330"></option>
		<option value="meco4300"></option>
		<option value="meco4342"></option>
		<option value="meco4351"></option>
		<option value="meco4352"></option>
		<option value="mis3100"> </option>
		<option value="mis3300"> </option>
		<option value="mis3310"> </option>
		<option value="mis3320"> </option>
		<option value="mis4090"> </option>
		<option value="mis4300"> </option>
		<option value="mis4301"> </option>
		<option value="mis4310"> </option>
		<option value="mis4312"> </option>
		<option value="mis4320"> </option>
		<option value="mis4330"> </option>
		<option value="mis4340"> </option>
		<option value="mis4342"> </option>
		<option value="mis4343"> </option>
		<option value="mis4350"> </option>
		<option value="mis4351"> </option>
		<option value="mis4352"> </option>
		<option value="mis4360"> </option>
		<option value="mis4361"> </option>
		<option value="mis4370"> </option>
		<option value="mis4390"> </option>
		<option value="mis4V81"> </option>
		<option value="mis4V90"> </option>
		<option value="mis4V95"> </option>
		<option value="mkt3100"> </option>
		<option value="mkt3300"> </option>
		<option value="mkt3320"> </option>
		<option value="mkt3330"> </option>
		<option value="mkt3340"> </option>
		<option value="mkt3V92"> </option>
		<option value="mkt4090"> </option>
		<option value="mkt4320"> </option>
		<option value="mkt4321"> </option>
		<option value="mkt4322"> </option>
		<option value="mkt4330"> </option>
		<option value="mkt4331"> </option>
		<option value="mkt4332"> </option>
		<option value="mkt4333"> </option>
		<option value="mkt4334"> </option>
		<option value="mkt4340"> </option>
		<option value="mkt4350"> </option>
		<option value="mkt4351"> </option>
		<option value="mkt4360"> </option>
		<option value="mkt4370"> </option>
		<option value="mkt4380"> </option>
		<option value="mkt4V83"> </option>
		<option value="mkt4V90"> </option>
		<option value="mkt4V93"> </option>
		<option value="musi1306"></option>
		<option value="musi1313"></option>
		<option value="musi2113"></option>
		<option value="musi2127"></option>
		<option value="musi2311"></option>
		<option value="musi2315"></option>
		<option value="musi2316"></option>
		<option value="musi2317"></option>
		<option value="musi2319"></option>
		<option value="musi2320"></option>
		<option value="musi2322"></option>
		<option value="musi2324"></option>
		<option value="musi2325"></option>
		<option value="musi2326"></option>
		<option value="musi2327"></option>
		<option value="musi2328"></option>
		<option value="musi2V71"></option>
		<option value="musi3312"></option>
		<option value="musi3316"></option>
		<option value="musi3318"></option>
		<option value="musi3320"></option>
		<option value="musi3322"></option>
		<option value="musi3323"></option>
		<option value="musi3324"></option>
		<option value="musi3325"></option>
		<option value="musi3328"></option>
		<option value="musi3342"></option>
		<option value="musi3380"></option>
		<option value="musi3381"></option>
		<option value="musi3382"></option>
		<option value="musi3384"></option>
		<option value="musi3385"></option>
		<option value="musi3386"></option>
		<option value="musi3387"></option>
		<option value="musi3388"></option>
		<option value="musi3389"></option>
		<option value="musi4312"></option>
		<option value="musi4316"></option>
		<option value="musi4318"></option>
		<option value="musi4320"></option>
		<option value="musi4345"></option>
		<option value="musi4346"></option>
		<option value="musi4347"></option>
		<option value="musi4348"></option>
		<option value="musi4349"></option>
		<option value="musi4385"></option>
		<option value="musi4386"></option>
		<option value="musi4390"></option>
		<option value="musi4V61"></option>
		<option value="musi4V71"></option>
		<option value="nano3301"></option>
		<option value="nano3302"></option>
		<option value="nano3310"></option>
		<option value="nano4391"></option>
		<option value="nano4V95"></option>
		<option value="nats1101"></option>
		<option value="nats1111"></option>
		<option value="nats1141"></option>
		<option value="nats1143"></option>
		<option value="nats1311"></option>
		<option value="nats2330"></option>
		<option value="nats2333"></option>
		<option value="nats2V10"></option>
		<option value="nats3327"></option>
		<option value="nats3330"></option>
		<option value="nats3331"></option>
		<option value="nats3341"></option>
		<option value="nats3343"></option>
		<option value="nats4141"></option>
		<option value="nats4310"></option>
		<option value="nats4341"></option>
		<option value="nats4390"></option>
		<option value="nats4694"></option>
		<option value="nats4696"></option>
		<option value="nats4V41"></option>
		<option value="nats4V90"></option>
		<option value="nsc1100"> </option>
		<option value="nsc3344"> </option>
		<option value="nsc3345"> </option>
		<option value="nsc3361"> </option>
		<option value="nsc4188"> </option>
		<option value="nsc4351"> </option>
		<option value="nsc4352"> </option>
		<option value="nsc4353"> </option>
		<option value="nsc4354"> </option>
		<option value="nsc4355"> </option>
		<option value="nsc4356"> </option>
		<option value="nsc4357"> </option>
		<option value="nsc4358"> </option>
		<option value="nsc4359"> </option>
		<option value="nsc4362"> </option>
		<option value="nsc4363"> </option>
		<option value="nsc4364"> </option>
		<option value="nsc4365"> </option>
		<option value="nsc4366"> </option>
		<option value="nsc4367"> </option>
		<option value="nsc4370"> </option>
		<option value="nsc4371"> </option>
		<option value="nsc4372"> </option>
		<option value="nsc4373"> </option>
		<option value="nsc4374"> </option>
		<option value="nsc4375"> </option>
		<option value="nsc4376"> </option>
		<option value="nsc4378"> </option>
		<option value="nsc4385"> </option>
		<option value="nsc4386"> </option>
		<option value="nsc4387"> </option>
		<option value="nsc4388"> </option>
		<option value="nsc4389"> </option>
		<option value="nsc4394"> </option>
		<option value="nsc4397"> </option>
		<option value="nsc4V90"> </option>
		<option value="nsc4V91"> </option>
		<option value="nsc4V95"> </option>
		<option value="nsc4V96"> </option>
		<option value="nsc4V98"> </option>
		<option value="nsc4V99"> </option>
		<option value="obhr3300"></option>
		<option value="obhr3310"></option>
		<option value="obhr3311"></option>
		<option value="obhr3320"></option>
		<option value="obhr3330"></option>
		<option value="obhr4090"></option>
		<option value="obhr4300"></option>
		<option value="obhr4310"></option>
		<option value="obhr4331"></option>
		<option value="obhr4333"></option>
		<option value="obhr4334"></option>
		<option value="obhr4350"></option>
		<option value="obhr4352"></option>
		<option value="obhr4354"></option>
		<option value="obhr4356"></option>
		<option value="obhr4358"></option>
		<option value="obhr4360"></option>
		<option value="obhr4V84"></option>
		<option value="obhr4V90"></option>
		<option value="obhr4V94"></option>
		<option value="opre3100"></option>
		<option value="opre3310"></option>
		<option value="opre3320"></option>
		<option value="opre3330"></option>
		<option value="opre3333"></option>
		<option value="opre3360"></option>
		<option value="opre4090"></option>
		<option value="opre4310"></option>
		<option value="opre4320"></option>
		<option value="opre4330"></option>
		<option value="opre4340"></option>
		<option value="opre4350"></option>
		<option value="opre4360"></option>
		<option value="opre4V81"></option>
		<option value="opre4V90"></option>
		<option value="opre4V91"></option>
		<option value="pa2325">  </option>
		<option value="pa3304">  </option>
		<option value="pa3306">  </option>
		<option value="pa3310">  </option>
		<option value="pa3314">  </option>
		<option value="pa3333">  </option>
		<option value="pa3377">  </option>
		<option value="pa3378">  </option>
			<option value="pa3379">  </option>
			<option value="pa3380">  </option>
			<option value="pa3381">  </option>
			<option value="pa3382">  </option>
			<option value="pa4340">  </option>
			<option value="pa4345">  </option>
			<option value="pa4350">  </option>
			<option value="pa4351">  </option>
			<option value="pa4352">  </option>
			<option value="pa4355">  </option>
			<option value="pa4360">  </option>
			<option value="pa4370">  </option>
			<option value="pa4386">  </option>
			<option value="pa4387">  </option>
			<option value="pa4396">  </option>
			<option value="pa4V97">  </option>
			<option value="pa4V98">  </option>
			<option value="pa4V99">  </option>
			<option value="phil1301"></option>
			<option value="phil2316"></option>
			<option value="phil2317"></option>
			<option value="phil2V71"></option>
			<option value="phil3304"></option>
			<option value="phil3328"></option>
			<option value="phil3373"></option>
			<option value="phil3375"></option>
			<option value="phil3392"></option>
			<option value="phil4305"></option>
			<option value="phil4308"></option>
			<option value="phil4310"></option>
			<option value="phil4320"></option>
			<option value="phil4321"></option>
			<option value="phil4380"></option>
			<option value="phil4V71"></option>
			<option value="phin1100"></option>
			<option value="phin1102"></option>
			<option value="phin1103"></option>
			<option value="phin1104"></option>
			<option value="phin1106"></option>
			<option value="phin1107"></option>
			<option value="phin1108"></option>
			<option value="phin1111"></option>
			<option value="phin1120"></option>
			<option value="phin1121"></option>
			<option value="phin1122"></option>
			<option value="phin1129"></option>
			<option value="phin1130"></option>
			<option value="phin2102"></option>
			<option value="phin2120"></option>
			<option value="phin2125"></option>
			<option value="phin2150"></option>
			<option value="phin2151"></option>
			<option value="phin2152"></option>
			<option value="phin2153"></option>
			<option value="phin2154"></option>
			<option value="phys1100"></option>
			<option value="phys1101"></option>
			<option value="phys1102"></option>
			<option value="phys1301"></option>
			<option value="phys1302"></option>
			<option value="phys2121"></option>
			<option value="phys2125"></option>
			<option value="phys2126"></option>
			<option value="phys2303"></option>
			<option value="phys2325"></option>
			<option value="phys2326"></option>
			<option value="phys2421"></option>
			<option value="phys2422"></option>
			<option value="phys3311"></option>
			<option value="phys3312"></option>
			<option value="phys3317"></option>
			<option value="phys3327"></option>
			<option value="phys3330"></option>
			<option value="phys3380"></option>
			<option value="phys3411"></option>
			<option value="phys3416"></option>
			<option value="phys4301"></option>
			<option value="phys4302"></option>
			<option value="phys4311"></option>
			<option value="phys4328"></option>
			<option value="phys4335"></option>
			<option value="phys4352"></option>
			<option value="phys4371"></option>
			<option value="phys4373"></option>
			<option value="phys4381"></option>
			<option value="phys4383"></option>
			<option value="phys4386"></option>
			<option value="phys4390"></option>
			<option value="phys4392"></option>
			<option value="phys4395"></option>
			<option value="phys4399"></option>
			<option value="phys4V07"></option>
			<option value="phys4V10"></option>
			<option value="phys4V11"></option>
			<option value="psci3301"></option>
			<option value="psci3303"></option>
			<option value="psci3306"></option>
			<option value="psci3310"></option>
			<option value="psci3322"></option>
			<option value="psci3323"></option>
			<option value="psci3325"></option>
			<option value="psci3326"></option>
			<option value="psci3327"></option>
			<option value="psci3328"></option>
			<option value="psci3333"></option>
			<option value="psci3340"></option>
			<option value="psci3350"></option>
			<option value="psci3351"></option>
			<option value="psci3353"></option>
			<option value="psci3355"></option>
			<option value="psci3362"></option>
			<option value="psci3364"></option>
			<option value="psci4305"></option>
			<option value="psci4307"></option>
			<option value="psci4311"></option>
			<option value="psci4312"></option>
			<option value="psci4313"></option>
			<option value="psci4314"></option>
			<option value="psci4315"></option>
			<option value="psci4321"></option>
			<option value="psci4326"></option>
			<option value="psci4329"></option>
			<option value="psci4330"></option>
			<option value="psci4331"></option>
			<option value="psci4332"></option>
			<option value="psci4341"></option>
			<option value="psci4342"></option>
			<option value="psci4343"></option>
			<option value="psci4344"></option>
			<option value="psci4345"></option>
			<option value="psci4346"></option>
			<option value="psci4347"></option>
			<option value="psci4348"></option>
			<option value="psci4349"></option>
			<option value="psci4352"></option>
			<option value="psci4354"></option>
			<option value="psci4356"></option>
			<option value="psci4357"></option>
			<option value="psci4359"></option>
			<option value="psci4360"></option>
			<option value="psci4364"></option>
			<option value="psci4365"></option>
			<option value="psci4368"></option>
			<option value="psci4370"></option>
			<option value="psci4372"></option>
			<option value="psci4373"></option>
			<option value="psci4374"></option>
			<option value="psci4375"></option>
			<option value="psci4376"></option>
			<option value="psci4377"></option>
			<option value="psci4378"></option>
			<option value="psci4382"></option>
			<option value="psci4396"></option>
			<option value="psci4398"></option>
			<option value="psci4V66"></option>
			<option value="psci4V67"></option>
			<option value="psci4V76"></option>
			<option value="psci4V97"></option>
			<option value="psci4V98"></option>
			<option value="psci4V99"></option>
			<option value="psy1100"> </option>
			<option value="psy2301"> </option>
			<option value="psy2314"> </option>
			<option value="psy2317"> </option>
			<option value="psy2364"> </option>
			<option value="psy3100"> </option>
			<option value="psy3310"> </option>
			<option value="psy3322"> </option>
			<option value="psy3324"> </option>
			<option value="psy3331"> </option>
			<option value="psy3332"> </option>
			<option value="psy3333"> </option>
			<option value="psy3336"> </option>
			<option value="psy3338"> </option>
			<option value="psy3339"> </option>
			<option value="psy3342"> </option>
			<option value="psy3350"> </option>
			<option value="psy3351"> </option>
			<option value="psy3355"> </option>
			<option value="psy3356"> </option>
			<option value="psy3360"> </option>
			<option value="psy3361"> </option>
			<option value="psy3362"> </option>
			<option value="psy3363"> </option>
			<option value="psy3364"> </option>
			<option value="psy3366"> </option>
			<option value="psy3392"> </option>
			<option value="psy3393"> </option>
			<option value="psy3490"> </option>
			<option value="psy4188"> </option>
			<option value="psy4323"> </option>
			<option value="psy4324"> </option>
			<option value="psy4325"> </option>
			<option value="psy4327"> </option>
			<option value="psy4328"> </option>
			<option value="psy4331"> </option>
			<option value="psy4332"> </option>
			<option value="psy4333"> </option>
			<option value="psy4334"> </option>
			<option value="psy4343"> </option>
			<option value="psy4344"> </option>
			<option value="psy4345"> </option>
			<option value="psy4346"> </option>
			<option value="psy4347"> </option>
			<option value="psy4359"> </option>
			<option value="psy4362"> </option>
			<option value="psy4364"> </option>
			<option value="psy4365"> </option>
			<option value="psy4370"> </option>
			<option value="psy4372"> </option>
			<option value="psy4373"> </option>
			<option value="psy4374"> </option>
			<option value="psy4375"> </option>
			<option value="psy4377"> </option>
			<option value="psy4378"> </option>
			<option value="psy4385"> </option>
			<option value="psy4386"> </option>
			<option value="psy4389"> </option>
			<option value="psy4393"> </option>
			<option value="psy4394"> </option>
			<option value="psy4395"> </option>
			<option value="psy4397"> </option>
			<option value="psy4V90"> </option>
			<option value="psy4V91"> </option>
			<option value="psy4V96"> </option>
			<option value="psy4V98"> </option>
			<option value="psy4V99"> </option>
			<option value="psyc2301"></option>
			<option value="psyc2314"></option>
			<option value="psyc2317"></option>
			<option value="real3305"></option>
			<option value="real3365"></option>
			<option value="real4090"></option>
			<option value="real4321"></option>
			<option value="real4328"></option>
			<option value="real4365"></option>
			<option value="real4V80"></option>
			<option value="real4V90"></option>
			<option value="rhet1302"></option>
			<option value="rmis3370"></option>
			<option value="rmis4331"></option>
			<option value="rmis4332"></option>
			<option value="rmis4333"></option>
			<option value="rmis4334"></option>
			<option value="se2V95">  </option>
			<option value="se3162">  </option>
			<option value="se3306">  </option>
			<option value="se3340">  </option>
			<option value="se3341">  </option>
			<option value="se3345">  </option>
			<option value="se3354">  </option>
			<option value="se3376">  </option>
			<option value="se3V95">  </option>
			<option value="se4347">  </option>
			<option value="se4348">  </option>
			<option value="se4351">  </option>
			<option value="se4352">  </option>
			<option value="se4367">  </option>
			<option value="se4376">  </option>
			<option value="se4381">  </option>
			<option value="se4399">  </option>
			<option value="se4485">  </option>
			<option value="se4V95">  </option>
			<option value="se4V98">  </option>
			<option value="soc1301"> </option>
			<option value="soc2300"> </option>
			<option value="soc2303"> </option>
			<option value="soc2305"> </option>
			<option value="soc2319"> </option>
			<option value="soc2320"> </option>
			<option value="soc2323"> </option>
			<option value="soc3303"> </option>
			<option value="soc3304"> </option>
			<option value="soc3305"> </option>
			<option value="soc3306"> </option>
			<option value="soc3314"> </option>
			<option value="soc3321"> </option>
			<option value="soc3322"> </option>
			<option value="soc3325"> </option>
			<option value="soc3331"> </option>
			<option value="soc3333"> </option>
			<option value="soc3334"> </option>
			<option value="soc3336"> </option>
			<option value="soc3337"> </option>
			<option value="soc3338"> </option>
			<option value="soc3339"> </option>
			<option value="soc3341"> </option>
			<option value="soc3342"> </option>
			<option value="soc3343"> </option>
			<option value="soc3344"> </option>
			<option value="soc3346"> </option>
			<option value="soc3347"> </option>
			<option value="soc3352"> </option>
			<option value="soc3354"> </option>
			<option value="soc3363"> </option>
			<option value="soc3379"> </option>
			<option value="soc3381"> </option>
			<option value="soc3382"> </option>
			<option value="soc4302"> </option>
			<option value="soc4306"> </option>
			<option value="soc4337"> </option>
			<option value="soc4352"> </option>
			<option value="soc4355"> </option>
			<option value="soc4356"> </option>
			<option value="soc4357"> </option>
			<option value="soc4361"> </option>
			<option value="soc4369"> </option>
			<option value="soc4370"> </option>
			<option value="soc4371"> </option>
			<option value="soc4372"> </option>
			<option value="soc4375"> </option>
			<option value="soc4377"> </option>
			<option value="soc4378"> </option>
			<option value="soc4380"> </option>
			<option value="soc4384"> </option>
			<option value="soc4385"> </option>
			<option value="soc4386"> </option>
			<option value="soc4387"> </option>
			<option value="soc4388"> </option>
			<option value="soc4389"> </option>
			<option value="soc4390"> </option>
			<option value="soc4391"> </option>
			<option value="soc4396"> </option>
			<option value="soc4V97"> </option>
			<option value="soc4V98"> </option>
			<option value="soc4V99"> </option>
			<option value="soci1301"></option>
			<option value="soci2319"></option>
			<option value="socs2V95"></option>
			<option value="socs3111"></option>
			<option value="socs3361"></option>
			<option value="socs3V96"></option>
			<option value="socs4320"></option>
			<option value="socs4V98"></option>
			<option value="span1311"></option>
			<option value="span1312"></option>
			<option value="span2311"></option>
			<option value="span2312"></option>
			<option value="span2341"></option>
			<option value="span3341"></option>
			<option value="span3363"></option>
			<option value="span3365"></option>
			<option value="span3366"></option>
			<option value="span4301"></option>
			<option value="span4302"></option>
			<option value="span4364"></option>
			<option value="spau1100"></option>
			<option value="spau3301"></option>
			<option value="spau3303"></option>
			<option value="spau3304"></option>
			<option value="spau3305"></option>
			<option value="spau3340"></option>
			<option value="spau3341"></option>
			<option value="spau3342"></option>
			<option value="spau3343"></option>
			<option value="spau3344"></option>
			<option value="spau3345"></option>
			<option value="spau3388"></option>
			<option value="spau3390"></option>
			<option value="spau4188"></option>
			<option value="spau4308"></option>
			<option value="spau4342"></option>
			<option value="spau4366"></option>
			<option value="spau4367"></option>
			<option value="spau4375"></option>
			<option value="spau4386"></option>
			<option value="spau4393"></option>
			<option value="spau4394"></option>
			<option value="spau4395"></option>
			<option value="spau4396"></option>
			<option value="spau4397"></option>
			<option value="spau4V90"></option>
			<option value="spau4V96"></option>
			<option value="spau4V98"></option>
			<option value="spau4V99"></option>
			<option value="spch1311"></option>
			<option value="spch1315"></option>
			<option value="stat1342"></option>
			<option value="stat2332"></option>
			<option value="stat3103"></option>
			<option value="stat3332"></option>
			<option value="stat3341"></option>
			<option value="stat3355"></option>
			<option value="stat3360"></option>
			<option value="stat4351"></option>
			<option value="stat4352"></option>
			<option value="stat4382"></option>
			<option value="stat4V02"></option>
			<option value="stat4V97"></option>
			<option value="te1202">  </option>
			<option value="te1337">  </option>
			<option value="te2305">  </option>
			<option value="te2336">  </option>
			<option value="te3101">  </option>
			<option value="te3102">  </option>
			<option value="te3150">  </option>
			<option value="te3301">  </option>
			<option value="te3302">  </option>
			<option value="te3307">  </option>
			<option value="te3340">  </option>
			<option value="te3345">  </option>
			<option value="te3346">  </option>
			<option value="te3350">  </option>
			<option value="te4141">  </option>
			<option value="te4341">  </option>
			<option value="te4348">  </option>
			<option value="te4360">  </option>
			<option value="te4361">  </option>
			<option value="te4365">  </option>
			<option value="te4367">  </option>
			<option value="te4388">  </option>
			<option value="te4389">  </option>
			<option value="te4390">  </option>
			<option value="te4V95">  </option>
			<option value="te4V98">  </option>
			<option value="univ1010"></option>
			<option value="univ1100"></option>
			<option value="univ2010"></option>
			<option value="univ2012"></option>
			<option value="univ2014"></option>
			<option value="univ2020"></option>
			<option value="univ2V96"></option>
			<option value="univ3010"></option>
			<option value="univ3V98"></option>
			<option value="univ4074"></option>
			<option value="univ4174"></option>
			<option value="univ4274"></option>
			<option value="univ4V96"></option>
			<option value="univ4V97"></option>
			<option value="univ4V98"></option>
			<option value="viet2311"></option>>
		      </datalist>
{% endmacro %}
