<!DOCTYPE html>
<html>
  <head>
    <title> Audit Results </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ url_for('static', filename='GAS.css') }}>
    <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }} type="image/x-icon">
    <link rel="icon" href={{ url_for('static', filename='favicon.ico') }} type="image/x-icon">
    <script src={{ url_for('static', filename='GAS.js') }}></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="jumbotron text-center">
      <h1> Audit Results </h1>
    </div>

    <div class="margin-tiny">
      {% if response.can_grad %}
      <p>You are able to graduate with a degree in {{response.transcript.major}}.</p>
      {% else %}
      <p>You are not able to graduate.<br>To graduate, you need to take <br></p>
      <ul>
	
	{% for class in response.missing_classes %}
	<li>{{class}}</li>
	{% endfor %}
	
	{# ex: need 6 hours of americanHistory requirement #}
	{% for type,number in response.missing_hours %}
	<li>{{number}} hours of {{type}}</li>
	{# 6 hours of americanHistory #}
	{% endfor %}
	
	{% if response.missing_electives != 0 %}
	<li>{{response.missing_electives}} hours of elective credits</li>
	
	{% endif %}
      </ul>
      {% endif %}
      <button class="btn" onclick="goBack()">Click here to go back</button>
    </div>

    <div class="footer">
      Source code for this audit system can be found <a href="https://gitlab.com/saikiran1096/gradaudit">here.</a>
      <br>
      Source code for this website can be found <a href="https://gitlab.com/asobhi/GAS-site">here.</a>
      <br>
      Please email any bugs or feature requests to <a href="mailto:ars140330@utdallas.edu">ars140330@utdallas.edu</a> or <a href="mailto:sai@utdallas.edu">sai@utdallas.edu.</a>
    </div>    
  </body>
</html>
